.button-style {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #28a745; /* 아래쪽에만 3px 초록색 테두리 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    cursor: pointer; 
    font-size: 17px;
    margin-left: 400px;
    white-space: nowrap;
}
